<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<connectionStrings><add name="Entities" connectionString="metadata=res://*/database.Model.csdl|res://*/database.Model.ssdl|res://*/database.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TEENAGER\SQLEXPRESS;initial catalog=18ip26;user id=readerLaborantDB;password=qwerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/></connectionStrings></configuration>
